@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}


body {
  transform: translate3d(0px, 0px, 0px);
  transition: all 700ms ease;
}